* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

body {
  margin: 1.25rem;
}

.common-heading {
  display: flex;
  justify-content: center;
  flex: 2;
  padding: 1.25rem;
}

.heading,
.heading a {
  text-align: center;
  letter-spacing: 0.5rem;
  flex: 2;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.cart-img-header-heading-common,
.cart-img-header-heading-common a {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.your-cart {
  padding-top: 2vw;
}

.your-cart h1 {
  font-size: 1rem;
  margin: auto;
  padding: 1.25rem;
  padding-bottom: 0rem;
  text-align: center;
}

.your-cart p {
  padding: 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(211, 211, 211, 1);
}

.img,
img {
  width: 4.630rem;
  height: 4.630rem;
  margin-top:-10px;
}

.main-container {
  margin-left: 3.75rem;
  margin-right: 7.50rem;
}

.img-name {
  position: absolute;
  top: 12.815rem;
  left: 11.25rem;
}

.cart-list-sub-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 50%;
  right: 7.5rem;
  top: 12.815rem;
  color: gray;
}

.check-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.25rem;
}

.qty select {
  background-color: transparent;
  border: none;
  outline: none;
}

.total {
  padding-right: 2.5rem;
  font-size: 0.8125rem;
  font-weight: bold;
}

.amount {
  font-size: 0.8125rem;
  font-weight: bold;
}

.check-out {
  padding-right: 3.125rem;
  padding-left: 10vw;
}

.check-out a {
  font-size: 0.875rem;
  border: 2px solid black;
  padding: 0.5rem 2.75rem;
  color: #202020;
  text-decoration: none;
}

@media(max-width: 1020px) {
  .cart-list-sub-div {
    width: 40%;
    right: 7.50rem;
    top: 15.75rem;
  }

  .cross-sign {
    position: absolute;
    top: -1.9375rem;
    right: 0;
  }

  .check-box {
    margin-top: 1.875rem;
  }
}

@media (max-width: 768px) {
  .cart-list-sub-div {
    width: 40%;
    right: 7.50rem;
  }

  .check-out a {
    position: fixed;
    width: 100%;
    padding-top: 1.25rem;
    font-size: 0.875rem;
    border: none;
    background-color: #172c50;
    width: 100%;
    padding: 1.25rem;
    padding-left: 0rem;
    color: white;
    text-decoration: none;
    text-align: center;
    bottom: 0;
    left: 0;
  }

  .check-box {
    margin-top: 1.875rem;
  }
}

@media(max-width: 480px) {
  .cart-list-sub-div {
    flex-direction: column;
    right: 7.50rem;
    left: 40vw;
  }

  .main-container {
    margin-left: 0px;
    margin-right: 6.250rem
  }

  .img-name {
    top: 11.25rem;
    left: 5.625rem;
    font-size: 0.875rem;
    text-overflow: ellipsis;
  }

  .img,
  img {
    width: 3.75rem;
    height: 3.75rem;
  }

  .cart-list-sub-div {
    width: 40%;
    right: 7.50rem;
    top: 13.4375rem;
  }

  .cross-sign {
    position: absolute;
    top: -2.1875rem;
    right: 0;
  }
}
