body {
    margin: 0.625rem;
    font-family: Roboto, sans-serif;
    padding: 0px;
}


.checkout-heading {
    width: 100%;
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
}

.checkout-heading div {
    margin-bottom: 0.625rem;
}

.formfill {
    display: flex;
    justify-content: center;

}

.box {
    background: #fff;
    padding: 2.5rem;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.box h5 {
    margin: 0 0 2.5rem;
    padding: 0;
    color: black;
}

.box p {
    padding-bottom: 0.625rem;
    font-size: 0.75rem;

}

.box span {
    font-size: 0.75rem;
}

.box h6 {
    font-size: 0.8125rem;
    padding-bottom: 0.9375rem;
}

.box input {
    padding: 0.625rem 0;
    margin-bottom: 1.875rem;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}

.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    top: 0.625rem;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .1s;
}

.box input:focus~label,
.box input:valid~label {
    top: -0.9375rem;
    left: 0;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
}

.box input:focus,
.box input:valid {
    border-bottom: 2px solid black;
}

.country-selector select {
    width: 100%;
    padding: 0.625rem 0;
    margin-bottom: 1.875rem;
    background: white;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}

.state-zip {
    display: flex;

}

.box form {
    width: 100%;
}

.box form div {
    width: 100%;
}

.box form div input {
    width: 100%;
}

.zip {
    margin-left: 0.9375rem;
}

.quantity-select {
    display: flex;

}

.quantity-select select {
    width: 8vw;
    padding: 0.625rem 0;
    margin-bottom: 1.875rem;
    background: white;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}

.price {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;
}

.check-out {
    padding-top: 2.5rem;

}

.check-out a {
    font-size: 0.875rem;
    border: 2px solid black;
    padding: 0.5rem 2.75rem;
    color: #202020;
    text-decoration: none;
}

.checkbox {
    margin-top: 1.875rem;
}

.total {
    margin-top: 1.875rem;
}

@media (max-width: 766px) {
    .formfill {
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .box {
        width: 100%;
        padding: 1.3125rem;
    }

    .quantity-select select {
        width: 100%;
        padding: 0.5625rem 0;


    }

    .quantity-select div {
        margin-right: 0.625rem;
    }

    .check-out a {
        position: fixed;
        width: 100% padding-top:1.25rem;
        font-size: 0.875rem;
        border: none;
        background-color: #172c50;
        width: 100%;
        padding: 1.25rem;
        padding-left: 0px;
        color: white;
        text-decoration: none;
        text-align: center;
        bottom: 0;
        left: 0;
    }

    .checkout-heading {
        margin-top: 0px;
        margin-bottom: 0.625rem;
    }

}
