 body{
   margin: 0px;
   padding: 0px;
   font-family: Roboto, sans-serif;
 }

 .common-heading {
   display: flex;
   justify-content: center;
   flex: 2;
   padding: 1.25rem;
 }

 .heading,
 .heading a {
   text-align: center;
   letter-spacing: 0.5rem;
   flex: 2;
   text-decoration: none;
   list-style-type: none;
   color: black;
 }

 .cart-img-header-heading-common,
 .cart-img-header-heading-common a {
   font-size: 1.25rem;
   text-decoration: none;
   color: black;
 }

 .common-menu {
   display: flex;
   justify-content: center;
   text-decoration: none;
 }

 .common-menu>div,
 .common-menu>div a {
   list-style-type: none;
   text-decoration: none;
   padding: 3.125rem 1.25rem;
   color: rgba(0, 0, 0, 1);
   font-size: 0.8125rem;
 }
 .outerwear-image img {
   width: 100%;
   height: 25vw;
   padding-right: 0px;
   padding-left: 0px;
   object-fit: cover;
 }

 .outerwear-image div {
   font-size: 1rem;
   margin: auto;
   padding: 1.25rem;
   padding-bottom: 2rem;
   text-align: center;
 }

 .outerwear-image div a {
   font-size: 0.875rem;
   border: 2px solid black;
   padding: 0.5rem 2.75rem;
   color: #202020;
   text-decoration: none;
 }

 .t-Shirts-image {
   float: left;
   width: 50%;
   height: 25vw;
 }

 .t-Shirts-image img {
   width: 100%;
   height: 25vw;
   object-fit: cover;
 }

 .t-Shirts-image div {
   font-size: 1rem;
   margin: auto;
   padding: 1.25rem;
   text-align: center;
 }

 .t-Shirts-image div a {
   font-size: 0.875rem;
   border: 2px solid black;
   padding: 0.5rem 2.75rem;
   color: #202020;
   text-decoration: none;
 }

 @media screen and (max-width: 768px) {
   .common-menu {
     display: none;
   }

   .t-Shirts-image div a {
     font-size: 0.875rem;
     border: 2px solid black;
     padding: 0.5rem 0.75rem;
     color: #202020;
     text-decoration: none;
   }

 }
