 .back-page {
  font-size: 1rem;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  color:rgba(0,0,0,0.8);
}

.body-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.body-container>img {
  max-width: 37.5rem;
  width: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  max-width: 25rem;
  padding-right: 1rem;
}

.info>a>button {
  cursor: pointer;
  font-size: 0.875rem;
  background-color: #fff;
  font-weight: 500;
  border: 2px solid #000;
  padding: 0.5rem 2.75rem;
}

.name-price h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0rem;
}

.name-price p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  color: #757575;
}

.size-quantity {
  position: relative;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.size-quantity label {
  position: absolute;
  top: 1rem;
  line-height: 1rem;
  color: rgb(177, 177, 177);
  z-index: -1;
}

.size-quantity select {
  width: 100%;
  font-size: 1rem;
  font-family: Arial;
  padding: 1rem 1.5rem 1rem 4.375rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.description {
  margin-bottom: 2rem;
}

.description>h2 {
  font-size: 0.8125rem;
  margin: 1rem 0rem;
}

.description>p {
  font-size: 0.8125rem;
  color: #757575;
  padding-bottom: 1rem;
}

.description ul {
  font-size: 0.8125rem;
  color: #757575;
  padding-left: 2rem;
}

.add-to-cart {
  cursor: pointer;
  font-size: 0.875rem;
  background-color: #fff;
  font-weight: 500;
  border: 2px solid #000;
  padding: 0.5rem 2.75rem;
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.add-to-cart a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.pop-up {
  top: 3.125rem;
  right: -10px;
  width: 25rem;
  height: 12.5rem;
  text-align: center;
}

.pop-up-flex-box {
  display: flex;
  justify-content: center;
}

.modal {
  width: 50%;
  height: 40vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.modal-content {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
  width: 55%;
  height: 45%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

#modal:target {
  opacity: 1;
  visibility: visible;
}

#modal:target .modal-content {
  opacity: 1;
  visibility: visible;
}

.modal-close {
  color: #363636;
  font-size: 2em;
  position: absolute;
  top: .5em;
  right: 1em;
}

.pop-up-add-to-cart {
  font-size: 0.875rem;
  border: 2px solid black;
  padding: 0.625rem 1.5625rem;
  color: #202020;
  text-decoration: none;
  text-align: center;
  margin: 0.625rem;
}

.pop-up-add-to-cart a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .common-menu {
    display: none;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .body-container>img {
    width: 90%;
  }

  .info {
    max-width: 37.5rem;
    width: 90%;
    padding-right: 0rem;
  }

  .info>a>button {
    font-size: 0.9375rem;
    background-color: #172c50;
    color: #fff;
    border: none;
    padding: 1.25rem;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
  }

  .modal {
    display: none;
  }
}
