.outerwear-image div {
   font-size: 1rem;
   margin: auto;
   padding: 1.25rem;
    padding-top: 0rem;
   padding-bottom: 0rem;
   text-align: center;
 }



.number-of-items p {
  color: #757575;
  font-size: 0.8125rem;

}


.outerwear-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw;

}

.outerwear-image-item img {
  width: 22vw;
  padding: 4vw;
  padding-bottom:2rem;
}

.outerwear-image-item,
.outerwear-image-item a {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: bold
}

span {
  font-size: 0.75rem;
  color: rgba(211, 211, 211, 1);
}

@media screen and (max-width: 767px) {
  body {
    margin: 5vw;
  }

  .common-menu {
    display: none;
  }

  .outerwear-image img {
    display: none;
  }

  .outerwear-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    justify-content: space-around;
  }

  .outerwear-image-item img {
    width: 100%;
  }

  .outerwear-image-item {
    flex-basis: 50%;
  }
  .outerwear-image{
  padding-bottom: 1rem;
  height:20vw;
  padding-bottom: 5px;
}


